<!-- payment.hbs -->
<a href='/'>Back</a>
<div class='payment-card'>
  {{#if error}}
    <p class='error'>{{error}}</p>
  {{/if}}
  <h2>Payment for Order #{{orderId}}</h2>
  <p>Total Payment: ${{totalPayment}}</p>
  <p>Your Balance: ${{userBalance}}</p>

  <form action='/payment/{{orderId}}/send-pin' method='post'>
    <button class='add-button' type='submit'>Pay</button>
  </form>

  <form action='/add/{{userId}}' method='get'>
    <button class='add-button' type='submit'>Add Balance</button>
  </form>
</div>