<!-- paymentShow.hbs -->
<a href='/'>Back</a>
<div class='payment-show'>
  {{#if error}}
    <p class='error'>{{error}}</p>
  {{else}}
    <table>
      <thead>
        <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>Balance</th>
          <th>Purchase</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
          <tr>
            <td>{{id}}</td>
            <td>{{username}}</td>
            <td>{{balance}}</td>
            <td>{{purchase}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>