<div class='container'>
  <div class='product-card card position-relative product-detail' style='display: flex; flex-direction: row;'>
    <div class='card-body' style='padding: 32px; display: flex; flex-direction: column; gap: 16px;'>
      <h2 class='card-title'><a href='/products/{{product.id}}'>{{product.name}}</a></h2>

      <div>
        <p>{{product.description}}</p>
        <h5><span class='badge bg-dark'>{{product.category}}</span></h5>
      </div>

      <h5 class='card-price product-detail__price'>$ {{product.price}}</h5>

      <div class='card-action d-flex pb-2 product-detail-add'>
        <a href='#' class='addToCart toastBtn btn btn-primary btn-sm' style='padding: 8px 32px;'>
          Add to Cart
        </a>
      </div>
    </div>

    <div class='overflow-hidden image-holder'>
      <img src='{{product.image}}' alt='{{product.category}}' class='object-fit-cover product-detail-img' />
    </div>
  </div>

  <div style="margin-top: 40px;">
    {{! Related products }}
    <h2>Similar Items</h2>
    <div class='row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-5 g-4'>
      {{#each relatedProducts}}
        <div class='col'>{{>product-card this}}</div>
      {{/each}}
    </div>
  </div> 
</div>