<div class='login-form-wrapper p-2 p-md-0'>
  {{! Fusion Furni logo }}
  <a href='/'>
    <img src='/images/Logo.svg' alt='Fusion Furni' width='130' />
  </a>

  <h3>Create an account</h3>

  <form action='/auth/sign-up' method='post' class='row g-4 login-form'>
    <div class='col-12'>
      <label>Name<span class='text-danger'>*</span></label>
      <input
        name='name'
        value='{{name}}'
        type='text'
        class='form-control'
        placeholder='Enter name'
        oninput='validateName(event.target)'
      />
      <span class='name-error' style='color: red;'></span>
    </div>

    <div class='col-12'>
      <label>Email<span class='text-danger'>*</span></label>
      <input
        name='email'
        value='{{email}}'
        type='email'
        class='form-control'
        placeholder='Enter email'
        oninput='validateEmail(event.target)'
      />
      <span class='email-error' style='color: red;'></span>
    </div>

    <div class='col-12'>
      <label>Password<span class='text-danger'>*</span></label>
      <input
        name='password'
        value='{{password}}'
        type='password'
        class='form-control'
        placeholder='Enter password'
        oninput='validatePassword(event.target)'
      />
      <span class='password-error' style='color: red;'></span>
    </div>

    <div class='col-12'>
      <label>Confirm password<span class='text-danger'>*</span></label>
      <input
        name='confirmPassword'
        value='{{confirmPassword}}'
        type='password'
        class='form-control'
        placeholder='Enter confirm password'
        oninput='validateConfirmPassword(event.target)'
      />
      <span class='confirm-password-error' style='color: red;'></span>
    </div>

    <div class='col-12'>
      <label>Role<span class='text-danger'>*</span></label>
      <div class='role-group'>
        <div class='form-check'>
          <input class='form-check-input' type='radio' name='role' value='user' id='role_user' checked />
          <label class='form-check-label' for='role_user'>
            User
          </label>
        </div>
        <div class='form-check'>
          <input class='form-check-input' type='radio' name='role' value='admin' id='role_admin' />
          <label class='form-check-label' for='role_admin'>
            Admin
          </label>
        </div>
      </div>
    </div>

    <span style='color: red; margin-top: 8px;'>{{error}}</span>

    <div class='col-12'>
      <button class='btn btn-primary px-4 w-100' onclick="handleSignup(event)">Get started</button>
    </div>

    <div class='login-vendors'>
      <a href='/auth/google' class='login-vendor'>
        <div class='login-icon'>
          <img src='/images/login/google.png' alt='' />
        </div>
        Signup with Google
      </a>
      <a href='/auth/facebook' class='login-vendor'>
        <div class='login-icon'>
          <img src='/images/login/facebook.png' alt='' />
        </div>
        Signup with Facebook
      </a>
    </div>

    <div class='col-12 text-center'>
      <span>Already have an account?</span>
      <a href='login'><b class='text-primary'>Login</b></a>
    </div>
  </form>
</div>