<div class='product-card card position-relative h-100 w-100'>

  <div class='image-holder ratio ratio-1x1 position-relative overflow-hidden'>
    <img src='{{image}}' alt='{{category}}' class='object-fit-cover' />

    <div class='card-action position-absolute d-flex justify-content-center align-items-end pb-2'>
      <a href='#' class='addToCart toastBtn btn btn-primary btn-sm'>
        Add to Cart
        <i class='bi bi-cart3'></i>
      </a>
    </div>
  </div>

  <div class='card-body d-flex flex-column justify-content-between'>
    <h5 class='card-title'><a href='/products/{{id}}'>{{name}}</a></h5>

    <div>
      <h5><span class='badge bg-dark'>{{category}}</span></h5>
      <h5 class='card-price'>$ {{price}}</h5>
    </div></div>
</div>